In [1]:
# store start time to get execution time of entire script
import time
start_time = time.time()

In [2]:
# helper functions for displaying table data

import numpy as np
from IPython.display import display_html

# n is the number of columns to display data in
def display_side_by_side(series_obj, n):
    df = pd.DataFrame(series_obj)
    partition = int(round(len(df) / n))
    lower_bound = 0
    upper_bound = partition
    args = []
    for i in range(n):
        args.append(df[lower_bound:upper_bound])
        lower_bound += partition
        upper_bound += partition
    helper(args)

def helper(args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [3]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import csv

df = pd.read_csv('ILLICIT_RELAPSE_FEB_25_2020_imputed.csv')
df.head()

,ID,xobsyr_0,State,City,Region,zipcode,agyaddr,adol,female,nonwhite,unemplmt,B2a_0,noins,prsatx,tottxp4,TRI_0,TRIg_0,primsev,GVS,gvsg,tsd_0,und15,CWS_0,CWSg_0,srprob8,srprobg,S9y10,dldiag,press,DSS9_0,dssg_0,EPS7p_0,epsg_0,ADHDs_0,adhdg_0,CDS_0,cdsg_0,suicprbs_0,CJSI_0,cjsig_0,LRI7_0,lrig_0,SRI7_0,srig_0,homeless_0,S6,PSSI_0,pssig_0,RERI13p_0,rerig_0,ncar,SFS8p_0,SFS8p_3,SFS8p_6,SFS8p_12,loc,loc3,loc5,racegrps,raceg5,Raceg4,famhist,P12e,wkfls,dcfscps,wkyfmp_0,PAI_0,PAIg_0,sglpar_0,FPS_0,fpsg_0,POPI,POPIgrp,AFSS_0,afssg_0,TPS_0,tpsg_0,GSSI_0,gssig_0,PMS18,PMSg,IMS8,IMSg,glbtq55,SES_0,SESg_0,GCCA_0,gccag_0,DISCSTATg,TxSS_0,txsat,M5d_0,S7e5_0,r4ag_0,TxRS_0,family_0,ebtx,Marijuana_Days0,Marijuana_Cens0,Marijuana_Days5,Marijuana_Cens5,Illicit_Cens0,Illicit_Days0,Illicit_Cens5,Illicit_Days5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,TRI_0_cd,TRIg_0_cd,primsev_cd,GVS_cd,gvsg_cd,tsd_0_cd,und15_cd,CWS_0_cd,CWSg_0_cd,srprob8_cd,srprobg_cd,S9y10_cd,dldiag_cd,DSS9_0_cd,dssg_0_cd,EPS7p_0_cd,epsg_0_cd,ADHDs_0_cd,adhdg_0_cd,CDS_0_cd,cdsg_0_cd,suicprbs_0_cd,CJSI_0_cd,cjsig_0_cd,LRI7_0_cd,lrig_0_cd,SRI7_0_cd,srig_0_cd,homeless_0_cd,S6_cd,ncar_cd,SFS8p_0_cd,SFS8p_3_cd,SFS8p_6_cd,loc_cd,loc3_cd,loc5_cd,racegrps_cd,raceg5_cd,Raceg4_cd,famhist_cd,P12e_cd,wkfls_cd,dcfscps_cd,wkyfmp_0_cd,PAI_0_cd,PAIg_0_cd,sglpar_0_cd,AFSS_0_cd,afssg_0_cd,glbtq55_cd,SES_0_cd,SESg_0_cd,GCCA_0_cd,gccag_0_cd,DISCSTATg_cd,M5d_0_cd,S7e5_0_cd,r4ag_0_cd,TxRS_0_cd,family_0_cd,ebtx_cd
0,23223,2010,FL,Miami,4,33133-2436,2140 South Dixie Hwy,0,-4,1.0,0.0,19,NaN,NaN,8,-4,-4,NaN,0,0,0.0,NaN,-4,-4,NaN,NaN,8,NaN,NaN,4,1,2.380952,0,0,0,0,0,0.0,0.000000,0,9,1,8,1,0.0,-4,0,0,-4.0,-4,1.0,-4.000000,0.000000,0.0,0.0,1.0,1.0,1.0,3,2,2,NaN,-4,0.0,0.0,0.0,0,2,-2,0,0,-8.000000,-8,2,1,0,0,4,1,-4,-4,-4,-4,NaN,-4,-4,-4,-4,2.0,-4,1.0,0,-4,1.0,-4,-4,0.0,365,2,365,2,2,365,2,365,0,1,0,0,0,1,3,0,0,0,1,0,0,4,1,8,1,4,1,2.380952,0,0,0,0,0,0,0.000000,0,9,1,8,1,0,0,1,0.555556,0.000000,0.0,1,1,1,3,2,2,1,0,0,0,0,0,2,1,2,1,0,5,0,0,0,2,0,0,1,0,0,0
1,857,2005,OH,Cleveland,5,44113-1512,1276 West Third St. #400,1,0,0.0,0.0,13,NaN,0.0,14,0,0,1.0,7,2,0.0,1.0,0,0,1.0,0.0,8,0.0,NaN,5,1,43.650794,1,8,1,4,1,0.0,0.000000,0,11,1,12,2,0.0,0,-3,-3,-3.0,-3,1.0,0.277778,0.000000,0.0,0.0,1.0,1.0,1.0,4,3,1,1.0,0,1.0,1.0,1.0,4,0,1,-3,-3,40.201005,1,2,1,-3,-3,-3,-3,-3,-3,-3,-3,0.0,5,0,0,0,2.0,-9,NaN,0,0,1.0,0,0,0.0,365,1,365,1,1,365,1,365,0,0,0,0,0,0,1,7,2,0,1,0,0,1,0,8,0,5,1,43.650794,1,8,1,4,1,0,0.000000,0,11,1,12,2,0,0,1,0.277778,0.000000,0.0,1,1,1,4,3,1,1,0,1,1,1,4,0,1,2,1,0,5,0,0,0,2,0,0,1,0,0,0
2,929,2006,OH,Cleveland,5,44113-1512,1276 West Third St. #400,1,0,0.0,0.0,13,NaN,0.0,9,1,1,1.0,3,1,0.0,1.0,0,0,4.0,1.0,8,1.0,NaN,1,0,14.761905,1,1,0,3,1,0.0,20.000000,1,2,0,6,1,0.0,0,-3,-3,-3.0,-3,0.0,5.555556,2.500000,0.0,0.0,1.0,1.0,1.0,4,3,1,0.0,0,0.0,1.0,0.0,4,0,1,-3,-3,-8.000000,-8,0,0,-3,-3,-3,-3,7,1,3,1,0.0,5,0,0,0,2.0,-9,NaN,0,0,2.0,0,0,0.0,31,0,31,0,1,354,1,354,0,0,0,0,1,1,1,3,1,0,1,0,0,4,1,8,1,1,0,14.761905,1,1,0,3,1,0,20.000000,1,2,0,6,1,0,0,0,5.555556,2.500000,0.0,1,1,1,4,3,1,0,0,0,1,0,4,0,1,0,0,0,5,0,0,0,2,0,0,2,0,0,0
3,951,2006,OH,Cleveland,5,44113-1512,1276 West Third St. #400,1,0,0.0,0.0,13,NaN,0.0,8,1,1,3.0,0,0,0.0,1.0,0,0,3.0,1.0,8,NaN,NaN,0,0,4.761905,0,0,0,0,0,0.0,26.666667,1,0,0,11,1,0.0,0,-3,-3,-3.0,-3,0.0,17.083333,0.416667,12.5,0.0,1.0,1.0,1.0,4,3,1,1.0,0,0.0,1.0,0.0,4,0,1,-3,-3,36.363636,1,0,0,-3,-3,-3,-3,13,0,5,1,0.0,5,0,0,0,2.0,-9,NaN,0,0,2.0,0,0,0.0,36,0,36,0,2,365,2,365,0,0,0,0,1,1,3,0,0,0,1,0,0,3,1,8,1,0,0,4.761905,0,0,0,0,0,0,26.666667,1,0,0,11,1,0,0,0,17.083333,0.416667,12.5,1,1,1,4,3,1,1,0,0,1,0,4,0,1,0,0,0,5,0,0,0,2,0,0,2,0,0,0
4,1032,2006,OH,Cleveland,5,44113-1512,1276 West Third St. #400,1,0,0.0,0.0,13,NaN,0.0,12,1,1,3.0,4,2,0.0,1.0,0,0,3.0,1.0,8,1.0,NaN,2,1,19.523810,1,8,1,5,1,0.0,0.000000,0,14,2,10,1,0.0,1,-3,-3,-8.0,-8,1.0,8.333333,0.000000,0.0,0.0,1.0,1.0,1.0,4,3,1,1.0,0,1.0,1.0,1.0,2,1,1,-3,-3,-8.000000,-8,4,1,-3,-3,-3,-3,5,1,0,2,0.0,5,0,0,0,2.0,-3,NaN,0,0,2.0,-3,-3,0.0,93,0,365,2,2,365,2,365,0,0,0,0,1,1,3,4,2,0,1,0,0,3,1,8,1,2,1,19.523810,1,8,1,5,1,0,0.000000,0,14,2,10,1,0,1,1,8.333333,0.000000,0.0,1,1,1,4,3,1,1,0,1,1,1,2,1,1,4,1,0,5,0,0,0,2,0,0,2,0,0,0

In [4]:
np.unique(df['B2a_0']).tolist() # confirm that this dataset contains adolescents AND young adults

[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [5]:
cols_to_use = ['ID','State','City','agyaddr','xobsyr_0','B2a_0','Illicit_Days5','Illicit_Cens5']

# keep imputed columns that didn't have >25% null values 
imputed_cols_to_use = ['female_cd','nonwhite_cd','unemplmt_cd','prsatx_cd','primsev_cd','loc3_cd','gvsg_cd',
                       'CWSg_0_cd','srprobg_cd','dssg_0_cd','epsg_0_cd','adhdg_0_cd','cdsg_0_cd','cjsig_0_cd',
                       'lrig_0_cd','srig_0_cd','SESg_0_cd','r4ag_0_cd']

df = df[cols_to_use + imputed_cols_to_use]
df.head()

,ID,State,City,agyaddr,xobsyr_0,B2a_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,primsev_cd,loc3_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd
0,23223,FL,Miami,2140 South Dixie Hwy,2010,19,365,2,0,1,0,0,3,1,0,0,1,1,0,0,0,0,1,1,0,1
1,857,OH,Cleveland,1276 West Third St. #400,2005,13,365,1,0,0,0,0,1,1,2,0,0,1,1,1,1,0,1,2,0,1
2,929,OH,Cleveland,1276 West Third St. #400,2006,13,354,1,0,0,0,0,1,1,1,0,1,0,1,0,1,1,0,1,0,2
3,951,OH,Cleveland,1276 West Third St. #400,2006,13,365,2,0,0,0,0,3,1,0,0,1,0,0,0,0,1,0,1,0,2
4,1032,OH,Cleveland,1276 West Third St. #400,2006,13,365,2,0,0,0,0,3,1,2,0,1,1,1,1,1,0,2,1,0,2

In [6]:
# remove rows that don't have our predictor feature

df = df[df.Illicit_Days5 != ' ']
df.shape

//anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

(24299, 26)

In [7]:
from tqdm.notebook import tqdm

# ad hoc way of getting censoring to be correct
df['Illicit_Cens5'] += 3 # add 3 to prevent overlapping replacement
# no relapse and censored data needs to be censored in the overall model
df.replace({'Illicit_Cens5': {3: 1, 4: 0, 5:0}}, inplace=True) # 3 == relapsed, 4 == no relapse, 5 == censored

"""for i,row in tqdm(df.iterrows(), total=df.shape[0]):
    if row['Illicit_Days5'] > 360:
        df.set_value(i, 'Illicit_Cens5', 1) # censor value"""

df['Illicit_Cens5'].value_counts()

0    19711
1     4588
Name: Illicit_Cens5, dtype: int64

In [8]:
"""# mark data based on which drugs were most severe for that patient
alcohol_sev = df['primsev_cd'] == 1 # alcohol
marijuana_sev = df['primsev_cd'] == 3 # marijuana
df['nonillicit_flag'] = alcohol_sev + marijuana_sev
df['nonillicit_flag'] = df.nonillicit_flag.astype(int)
df.head()"""

"# mark data based on which drugs were most severe for that patient\nalcohol_sev = df['primsev_cd'] == 1 # alcohol\nmarijuana_sev = df['primsev_cd'] == 3 # marijuana\ndf['nonillicit_flag'] = alcohol_sev + marijuana_sev\ndf['nonillicit_flag'] = df.nonillicit_flag.astype(int)\ndf.head()"

In [9]:
df['primsev_cd'] = df.primsev_cd.astype(int)

# one-hot encode primsev_cd as it is the only cetegorical variable
one_hot = pd.get_dummies(df['primsev_cd'], prefix='primsev_cd')
df = df.drop('primsev_cd',axis = 1)
df = df.join(one_hot)

df.head()

,ID,State,City,agyaddr,xobsyr_0,B2a_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,loc3_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6
0,23223,FL,Miami,2140 South Dixie Hwy,2010,19,365,0,0,1,0,0,1,0,0,1,1,0,0,0,0,1,1,0,1,0,0,1,0,0,0
1,857,OH,Cleveland,1276 West Third St. #400,2005,13,365,0,0,0,0,0,1,2,0,0,1,1,1,1,0,1,2,0,1,1,0,0,0,0,0
2,929,OH,Cleveland,1276 West Third St. #400,2006,13,354,0,0,0,0,0,1,1,0,1,0,1,0,1,1,0,1,0,2,1,0,0,0,0,0
3,951,OH,Cleveland,1276 West Third St. #400,2006,13,365,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,2,0,0,1,0,0,0
4,1032,OH,Cleveland,1276 West Third St. #400,2006,13,365,0,0,0,0,0,1,2,0,1,1,1,1,1,0,2,1,0,2,0,0,1,0,0,0

In [10]:
# create grouped age variable based on Mike's suggestions
# >15, 15-18, <18
df['B2a_0g'] = np.nan
for i,row in tqdm(df.iterrows(), total=df.shape[0]):
    age = row['B2a_0']
    if age < 15:
        df.set_value(i, 'B2a_0g', 0)
    elif age < 18:
        df.set_value(i, 'B2a_0g', 1)
    else:
        df.set_value(i, 'B2a_0g', 2)

df['B2a_0g'] = df['B2a_0g'].astype(int)
df.drop(columns=['B2a_0'], inplace=True)
df.shape

HBox(children=(IntProgress(value=0, max=24299), HTML(value='')))

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':

(24299, 31)

In [11]:
# subset data based on whether the patient lived at the clinic or not
df = df[df.loc3_cd != 2]
df.drop(columns=['loc3_cd'], inplace=True)
df.shape

(21278, 30)

In [12]:
# merge suds_var with rest of dataset
suds_var = pd.read_csv('suds_var.csv')
suds_var.drop(columns=['SDSl_0'], inplace=True)
suds_var.head()

     ID  SUDSy_0
0  9048       11
1  9152        0
2  9057        5
3  9139        4
4  9051        2

In [13]:
df = df.merge(suds_var, on='ID', how='left')
df = df[df.SUDSy_0 >= 0]
df.shape

(21264, 31)

In [14]:
# see distribution of our predictor feature
df.hist(column='Illicit_Days5', bins=21)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x116172860>]],
      dtype=object)

In [15]:
df.head()

,ID,State,City,agyaddr,xobsyr_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,B2a_0g,SUDSy_0
1,857,OH,Cleveland,1276 West Third St. #400,2005,365,0,0,0,0,0,2,0,0,1,1,1,1,0,1,2,0,1,1,0,0,0,0,0,0,0
2,929,OH,Cleveland,1276 West Third St. #400,2006,354,0,0,0,0,0,1,0,1,0,1,0,1,1,0,1,0,2,1,0,0,0,0,0,0,3
3,951,OH,Cleveland,1276 West Third St. #400,2006,365,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2,0,0,1,0,0,0,0,2
4,1032,OH,Cleveland,1276 West Third St. #400,2006,365,0,0,0,0,0,2,0,1,1,1,1,1,0,2,1,0,2,0,0,1,0,0,0,0,2
5,1039,OH,Cleveland,1276 West Third St. #400,2004,365,0,0,0,0,0,0,0,0,1,0,0,1,1,2,1,0,2,0,1,0,0,0,0,0,0

In [16]:
df.shape

(21264, 31)

In [17]:
df.to_csv('data_cleaned.csv')

In [18]:
# print out total notebook execution time
total_seconds = int(time.time() - start_time)
minutes = total_seconds // 60
seconds = total_seconds % 60
print("--- " + str(minutes) + " minutes " + str(seconds) + " seconds ---")

--- 0 minutes 14 seconds ---