In [18]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import csv

df = pd.read_csv('data_superset_stratified.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,ID,State,City,agyaddr,xobsyr_0,Illicit_Days5,Illicit_Cens5,female_cd,nonwhite_cd,unemplmt_cd,prsatx_cd,gvsg_cd,CWSg_0_cd,srprobg_cd,dssg_0_cd,epsg_0_cd,adhdg_0_cd,cdsg_0_cd,cjsig_0_cd,lrig_0_cd,srig_0_cd,SESg_0_cd,r4ag_0_cd,primsev_cd_1,primsev_cd_2,primsev_cd_3,primsev_cd_4,primsev_cd_5,primsev_cd_6,B2a_0g,SUDSy_0,Address,lat,lng,state_name,county_FIPS,block_FIPS,murder_numg,gran,pop_deng,%_dropoutg,%_unemployedg,%_public_assistanceg,%_povertyg
0,1336,2404,2408,19987,WA,Everett,3000 Rockefeller Avenue,2012,9,1,1,1,1,1,2,0,2,2,2,2,2,1,2,2,2,2,0,1,0,0,0,0,1,11,"3000 Rockefeller Avenue, Everett, WA",47.971314,-122.205512,Washington,53061.0,5.306104e+14,0,1.0,0.0,0.0,0.0,0.0,0.0
1,2735,4787,4791,20010,WA,Everett,3000 Rockefeller Avenue,2012,189,0,0,0,0,0,1,0,0,0,1,0,0,1,1,2,0,0,0,0,1,0,0,0,1,3,"3000 Rockefeller Avenue, Everett, WA",47.971314,-122.205512,Washington,53061.0,5.306104e+14,0,1.0,0.0,0.0,0.0,0.0,0.0
2,3419,5858,5862,19974,WA,Everett,3000 Rockefeller Avenue,2012,182,0,0,0,1,1,2,0,1,0,0,0,0,1,1,1,0,2,0,0,1,0,0,0,1,0,"3000 Rockefeller Avenue, Everett, WA",47.971314,-122.205512,Washington,53061.0,5.306104e+14,0,1.0,0.0,0.0,0.0,0.0,0.0
3,3420,5859,5863,20000,WA,Everett,3000 Rockefeller Avenue,2012,95,0,0,0,0,1,0,0,1,0,1,0,0,2,1,2,0,2,0,0,1,0,0,0,1,4,"3000 Rockefeller Avenue, Everett, WA",47.971314,-122.205512,Washington,53061.0,5.306104e+14,0,1.0,0.0,0.0,0.0,0.0,0.0
4,13764,18861,18874,19970,WA,Everett,3000 Rockefeller Avenue,2012,179,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0,2,0,0,1,0,0,0,1,5,"3000 Rockefeller Avenue, Everett, WA",47.971314,-122.205512,Washington,53061.0,5.306104e+14,0,1.0,0.0,0.0,0.0,0.0,0.0

In [19]:
df.isna().sum()

Unnamed: 0              0
Unnamed: 0.1            0
Unnamed: 0.1.1          0
ID                      0
State                   0
City                    0
agyaddr                 0
xobsyr_0                0
Illicit_Days5           0
Illicit_Cens5           0
female_cd               0
nonwhite_cd             0
unemplmt_cd             0
prsatx_cd               0
gvsg_cd                 0
CWSg_0_cd               0
srprobg_cd              0
dssg_0_cd               0
epsg_0_cd               0
adhdg_0_cd              0
cdsg_0_cd               0
cjsig_0_cd              0
lrig_0_cd               0
srig_0_cd               0
SESg_0_cd               0
r4ag_0_cd               0
primsev_cd_1            0
primsev_cd_2            0
primsev_cd_3            0
primsev_cd_4            0
primsev_cd_5            0
primsev_cd_6            0
B2a_0g                  0
SUDSy_0                 0
Address                 0
lat                     0
lng                     0
state_name              0
county_FIPS             0
block_FIPS              0
murder_numg             0
gran                    0
pop_deng                0
%_dropoutg              0
%_unemployedg           0
%_public_assistanceg    0
%_povertyg              0
dtype: int64

In [11]:
# drop unnecessary columns
cols_to_keep = ['Address','xobsyr_0','lat','lng','murder_numg']

df = df[cols_to_keep]
df.drop_duplicates(inplace=True)
df.shape

(461, 5)

In [12]:
df_null = df[pd.isna(df.murder_numg)]
df_null.head()

Empty DataFrame
Columns: [Address, xobsyr_0, lat, lng, murder_numg]
Index: []

In [13]:
df_null.shape

(0, 5)

In [14]:
df_filled = df.dropna()
df_filled.head()

,Address,xobsyr_0,lat,lng,murder_numg
0,"3000 Rockefeller Avenue, Everett, WA",2012,47.971314,-122.205512,0
21,"3000 Rockefeller Avenue, Everett, WA",2011,47.971314,-122.205512,0
59,"2502 Tacoma Avenue South, Tacoma, WA",2012,47.238202,-122.441249,0
80,"2502 Tacoma Avenue South, Tacoma, WA",2011,47.238202,-122.441249,0
173,"2502 Tacoma Avenue South, Tacoma, WA",2010,47.238202,-122.441249,0

In [15]:
df_filled.shape

(461, 5)

In [16]:
import folium

l1 = list(df_null['lat'])
l2 = list(df_null['lng'])

latlon = list(map(lambda x, y:(x,y), l1, l2))

mapit = folium.Map( location=[41.5, -100.0], zoom_start=5 )
for coord in latlon:
    folium.Marker( location=[ coord[0], coord[1] ], fill_color='#43d9de', icon = folium.Icon(color='red'), radius=8 ).add_to( mapit )

In [17]:
l1 = list(df_filled['lat'])
l2 = list(df_filled['lng'])

latlon = list(map(lambda x, y:(x,y), l1, l2))

for coord in latlon:
    folium.Marker( location=[ coord[0], coord[1] ], fill_color='#43d9de', icon = folium.Icon(color='blue'), radius=8 ).add_to( mapit )

mapit.save( 'map.html')